.base_page {
  background-color: var(--secondary-color);
}

.home_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.home_bg {
  position: absolute;
  height: 52%;
  width: 100%;
  background-color: white;
  top: 0;
}

.home_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.home_header > * {
  margin-right: 3rem;
}

.home_header > *:last-child {
  margin: 0;
}

.home_title {
  margin-bottom: 0;
}

.home_img {
  height: 200px;
  width: 200px;
}
