.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.overlay_content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay_close {
  position: absolute;
  top: -2.5rem;
  background-color: transparent;
  border: none;
}

.overlay_close svg {
  height: 1rem;
  width: 1rem;
}

.overlay_navigation {
  display: flex;
  flex-direction: column;
}

.overlay_navigation > * {
  margin-bottom: 0.5rem;
}

.overlay_navigation > *:last-child {
  margin-bottom: 0;
}

.overlay_div {
  height: 1px;
  width: 0.5rem;
  margin: 1.5rem;
  background-color: var(--primary-color);
}

.overlay_contact {
  display: flex;
  flex-direction: row;
}

.overlay_contact > * {
  margin-right: 0.5rem;
}

.overlay_contact > *:last-child {
  margin-right: 0;
}
