#projects {
  background-color: var(--secondary-color);
  /* color: var(--secondary-color); */
}

.projects_gallery {
  /* display: flex; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding: 1.5rem 0;
  width: 100%;
}

.projects_gallery_item {
  /* align-self: flex-start; */
  /* flex: 1 0 auto; */
  width: 18vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  position: relative;
}

.projects_gallery_description {
  width: 100%;
  z-index: 1;
  bottom: 0;
  padding: 0.25rem 0.75rem;
  transition: 0.1s;
  border-radius: 0.25rem;
  white-space: normal;
}

.projects_description_title {
  margin: 0.5rem 0;
}

.projects_description_text {
  font-size: 0.75rem;
}

.projects_gallery_img {
  height: 18vw;
  width: 18vw;
  object-fit: cover;
  transition: 0.1s;
  box-shadow: 0 3px 10px 1px var(--secondary-color);
  /* border-radius: 0.25rem; */
}

.projects_description_links {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
}

.projects_description_links > * {
  color: var(--primary-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  border-radius: 0.25rem;
  transition: 0.075s;
}

.projects_description_links > *:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.projects_description_links svg {
  height: 16px;
  width: 16px;
}

.vertical_divider {
  flex: 1 0 auto;
  width: 1px;
  height: 200px;
  border-radius: 999px;
  background-color: var(--primary-color);
}
